.git
.gitignore

.env
.env.*
!*.env.template

.idea/
.vscode/

Dockerfile.backend
docker-compose.yml
docker-compose-zabbix.yml
.dockerignore
pre-commit-config.yaml

README.md
README.eng.md
LICENSE
attachment/
docs/
backups/

**/__pycache__
*.pyc
*.pyo
*.pyd

.venv/
env/
.Python/
.uv/

uv.lock
pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.mypy_cache/
.pytest_cache/
.ruff_cache/

*.log
logs/

*.db
*.sqlite3

.DS_Store
Thumbs.db
