# Python environment
.venv/
.python-version

# Compiled Python files
*.pyc
__pycache__/

# Database
interview_app.db
backups
test_integration.db
# Logs
logs/

# IDE settings
.vscode/

# Test results
allure-results

#Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
